-r requirements.txt
azure-ai-documentintelligence==1.0.2
Markdown==3.10.2
requests==2.34.2
tqdm==4.68.3
tiktoken
langchain==1.3.11
bs4==0.0.2
urllib3==2.7.0
pytest==9.1.1
pytest-asyncio==1.4.0
PyMuPDF==1.28.0
azure-storage-blob
chardet
azure-keyvault-secrets
coverage
flake8==7.3.0
black==26.5.1
autoflake==2.3.3
isort==8.0.1